<div class="alert alert-dismissable alert-<%- type %> mb-0 mt-1 pb-1 pt-1 container row float-right justify-content-between" role="alert">
  <div class="mt-1 mb-1">
    <%= message %>
  </div>
  <button class="close" data-dismiss="alert"><span class="fa fa-close" style="writing-mode: vertical-lr;"></span></button>
</div>
