<div id="welcome">
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1>Give us feedback!</h1>
    <hr />
    <p>For our company the user feedback is very important. We are keen to continously develop our
      service quality and give you a better customer experience. We are analyzing the feedback from you
      and hopefully creating better service time to time.
    </p>
    <p>Feel free to give us feedback with one simple click below because <strong>your opinion counts.</strong></p>
    <tagging-view timeout=5 v-if="started"></tagging-view>
  </div>

  <router-view></router-view>

  <!--  ╔═╗═╗ ╦╔═╗╔╦╗╔═╗╦  ╔═╗  ┌┬┐┌─┐┌┬┐┌─┐┬
        ║╣ ╔╩╦╝╠═╣║║║╠═╝║  ║╣   ││││ │ ││├─┤│
        ╚═╝╩ ╚═╩ ╩╩ ╩╩  ╩═╝╚═╝  ┴ ┴└─┘─┴┘┴ ┴┴─┘  -->
  <modal class="example-modal" hide-close-button=1 v-if="modal==='example' && started==false"
    @close="closeExampleModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">'Change Shop' or 'Start&Lock'</h2>
      <p class="modal-intro">Start voting or select your actual shop first.</p>
      <hr>
    </div>
    <div class="modal-body">
      <h5 class="pb-2 mb-3 border-bottom">Welcome back <%= me.fullName %>!</h5>
      <p v-if="me.company_id">If you just started your day, you can change the shop where you are. After starting the
        voting, you can't
        select another shop
        without device reboot and re-login.</p>
      <p v-else>You have no Company yet therefore you are not able to collect votes. Please go to your profile page,
        select your company and wait for shop assignments from your company admin.</p>

    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-warning btn-lg" v-if="me.company_id!==null"
        v-on:click.prevent="startApplication">Start And Lock</button>
      <button type="button" data-dismiss="modal" class="btn btn-primary" v-if="me.company_id"
        @click="this.location='/dashboard/shopselect'">Change Settings</button>
      <button type="button" data-dismiss="modal" class="btn btn-primary mr-auto" v-else
        @click="this.location='/account/profile'">Update Profile</button>
    </div>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
